<!DOCTYPE html>

<html lang="en">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39177956-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-39177956-1');
</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
<title>{{ page.title }}</title>

</head>

<body>
<header>

<div id='header'>
	<div id='banner'>
		<div class='title-wrap'>
			<div class='title'>
				<p><a href="{{ '/' | relative_url }}">PrefLib<span class="largeScreen">: A Library for Preferences</span></a></p>
			</div>
		</div>
	</div>

	<div class="menu-wrap">
		<div id="menu">
			<div>
			<a>
				<label for="menucheck" id="toggle-menu">
					<div>Menu<span class="drop-icon">&nbsp;&#x25be;</span></div>
				</label>
			</a></div>
			<input type="checkbox" id="menucheck">
			<ul class="main-menu cf">
				<li>
					<a href="{{ 'format' | relative_url }}">
						<span class="listspan">&#x2756;&nbsp;</span>Format
					</a>
				</li>

				<li>
					<a href="{{ 'dataset/' | relative_url }}">
						<span class="listspan">&#x2756;&nbsp;</span>Datasets
					</a>
				</li>

				<li>
					<a href="{{ 'collections' | relative_url }}">
						<span class="listspan">&#x2756;&nbsp;</span>Collections
					</a>
				</li>

				<li>
					<a href="{{ 'search' | relative_url }}">
						<span class="listspan">&#x2756;&nbsp;</span>Search
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</header>

<main>
    {{ content }}
</main>

<footer>
<div class="footer-wrap">
	<div class="footer-item">
		nsmattei{at}gmail{dot}com
	</div>
	<div class="footer-item">
		<div>
			<img src="{{ 'assets/img/gitHubLogo.png' | relative_url }}" alt="GitHub Logo">
			<span>&nbsp;</span>
			<a href="https://github.com/PrefLib" title="Link to the GitHub page for PrefLib">
			 	<span>GitHub</span>
			</a>
		</div>
	</div>
	<div class="footer-item">
		s.j.rey{at}uva{dot}nl
	</div>
</div>
</footer>
</body>
</html>