---
layout: default
title: PrefLib | Collections
sitemap:
  priority: 1
---

<section>
    <h1>Collections</h1>

    <p>
        PrefLib users tend to be interested in similar sets of files. On this page, we provide
        pre-compiled collections of files. If the set of files is not available here, use the
        <a href="https://github.com/PrefLib/preflibtools">preflibtools</a> to generate your own collection.
    </p>

    <p>
        <em>Important:</em> By using automatically-generated collections of files you loose the fine-grained
        understanding of the files in the collection (e.g., the provenance of the data). Keep that
        in mind as this can impact your results.
    </p>

</section>

<section>
    <div class="collections-wrap">
        <div class="collection-wrap">
            <h3>Data Type</h3>

            {% assign all_data_types = site.data.datafiles | map: "data_type" | uniq | sort %}
            {% assign all_data_types = all_data_types | where_exp: "item", "item != 'csv'" %}
            {% assign all_data_types = all_data_types | where_exp: "item", "item != 'dat'" %}
            <div class="collection-buttons-wrap">
                {% for type in all_data_types %}
                    <div class="collection-button button-wrapper">
                        <a href="https://github.com/PrefLib/PrefLib-Data/releases/download/v1.0/type_{{ type }}.zip" class="download-button">{{ type | upcase  }} files</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="collection-wrap">
            <h3>Modification Type</h3>
            {% assign all_modification_types = site.data.datafiles | map: "modification_type" | uniq | sort %}
            <div class="collection-buttons-wrap">
                {% for type in all_modification_types %}
                    <div class="collection-button button-wrapper">
                        <a href="https://github.com/PrefLib/PrefLib-Data/releases/download/v1.0/modif_{{ type }}.zip" class="download-button">{{ type | title_case }} files</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="collection-wrap">
            <h3>Structural Properties</h3>

            <div class="collection-buttons-wrap">
                <div class="collection-button button-wrapper">
                    <a href="https://github.com/PrefLib/PrefLib-Data/releases/download/v1.0/prop_isApproval.zip" class="download-button">Approval files</a>
                </div>
<!--                <div class="collection-button">-->
<!--                    <a href="https://github.com/PrefLib/PrefLib-Data/releases/download/v1.0/approval.zip" class="download-button">Single-Peaked files</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>
